.header-main {
    background-color:#292c2f;
    box-shadow:0 1px 1px #ccc;
    width: 100%;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    z-index: 100;
}

.header-main .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */

.header-main .header-limiter h1{
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-main .header-limiter h1 span {
    color: #599ac6;
}

/* The header links */

.header-main .header-limiter a {
    color: #dbdcdc;
    text-decoration: none;
}

.header-main .header-limiter nav{
    font:16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 60px;
    padding: 0;
}

.header-main .header-limiter nav a{
    font-size: 14px;
    display: inline-block;
    padding: 0 12px;
    opacity: 0.9;
    position: relative;
    text-decoration:none;
    line-height: 1;
}

.header-main .header-limiter nav a:hover {
    opacity: 1;
}

/* Login/Sign up buttons */

.header-main .header-limiter ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
}

.header-main .header-limiter ul li {
    display: inline-block;
    margin-left: 15px;
    opacity:0.9;
}

.header-main .header-limiter ul li:hover{
    opacity: 1;
}

/* The sign up button */
.header-main .header-limiter ul li a {
    font-weight: normal;
    color: #dbdcdc;
    padding: 10px 15px;
    border-radius: 3px;
}
.header-main .header-limiter ul li a:hover {
    font-weight: bold;
    color: #d8e8f3;
    background-color: #3a3c3e;
}
.header-main .header-limiter ul li:nth-child(2n) a {
    background-color: #3a3c3e;
    padding: 10px 15px;
    border-radius: 3px;
}

/* The user menu */

.header-main .header-limiter .header-user-menu{
    position: relative;
    float:right;
    /*
    #dbdcdc
    */
    background-color:#3a3c3e;
    width:200px;
    height:40px;
    border-radius:2px;
}

.header-main .header-limiter .header-user-menu:before{
    content:'';
    width:0;
    height:0;
    top: 18px;
    left: 15px;
    position:absolute;
    border:5px solid transparent;
    border-top-color:#fff;
}

.header-main .header-limiter .header-user-menu ul{
    display: none;
    font:bold 14px Arial, Helvetica, sans-serif;
    background-color: inherit;
    list-style: none;
    position: absolute;
    text-align: center;
    width: 200px;
    top: 25px;
    right: 0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header-main .header-user-menu:active ul,
.header-main .header-user-menu:hover ul,
.header-main .header-user-menu.show ul{
    display:block;
}

.header-main .header-user-menu ul li{
    padding:5px;
}

.header-main .header-user-menu ul li a:hover{
    opacity:0.9;
}

.header-main .header-user-menu ul li a.highlight{
    color:#e9ac09;
}

.header-main .header-user-menu img{
    border-radius:50%;
    position:absolute;
    top:6px;
    max-width: 28px;
    right:10px;
}


@media all and (max-width: 800px) {
    .header-main {
        padding: 25px;
        height: 85px;
    }
    .header-main .header-limiter h1 {
        float: none;
        margin: -8px 0 2px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }


    .header-main .header-limiter nav a {
        padding: 0 5px;
    }

    .header-main .header-limiter nav {
        margin-left: 20px;
    }
}

@media all and (max-width: 600px) {
    .header-main .header-limiter nav {
        display: none;
    }
}