*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: whitesmoke;
}

.form {
    background: rgba(41, 44, 47, 0.89);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.mark {
    font-size: 1.5em;
    -webkit-margin-before: auto;
    -webkit-margin-after: 0.43em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 500;
    color: lightgray;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #5383d3;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
    transition: border-color .25s ease, -webkit-box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #5383d3;;
}
select {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: darkgray;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 30px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 30%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button-cancel{
    border: 0;
    width: 100%;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: darkslategray;
    color: lightgray;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: rgba(68, 80, 92, 0.98);
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background-color: rgba(68, 80, 82, 1);
}

.button-cancel:hover, .button-cancel:focus{
    background-color: #254545;
}
.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
